:root{
	--primary: #ff9000;
}

h1 {
	font-size: 4em;
	font-weight: 300;
}

h2 {
	font-weight: 200;
}

h3 {
	margin-bottom: 0.1em;
}

h4 {
	margin-bottom: 0.4em;
	font-weight: normal;
}

hr {
	margin-bottom: 1em;
	height: 0.2em;
	border-style: none;
}

.color-primary {
	color: var(--primary);
}

.bg-primary {
	background-color: var(--primary);
}

#banner {
	background-color: var(--primary);
}

#contact, #about, #hobbies {
	display: inline-block;
}

.group_title {
	padding: 5px;
	color: var(--primary);
	background-color: #404040;
}

#photo img, #photo a {
	display: block;
	margin: 0 auto;
	height: 15em;
	border-radius: 7.5em;
}

#hobbies i {
	font-size: 4em;
}

#job {
	font-size: 1.5em;
}

#job::after {
	margin-top: 0.1em;
	display: block;
	content: "";
	width: 3em;
	height: 0.1em;
	background-color: var(--primary);
}

.formation_date, .experience_date {
	min-width: 12em;
}

.formation_date i, .experience_date i {
	font-size: 0.8em;
	vertical-align: middle;
}

i.fa-circle {
	font-size: 0.2em;
}

.formation_date p, .experience_date p {
	display: inline;
	font-size: 0.8em;
}

/* ##### MEDIA QUERIES ##### */
/* Tablets (sm) */
@media screen and (min-width: 768px) {
	
}

/* Laptops (md) */
@media screen and (min-width: 992px) {
	
}

/* Desktops (lg) */
@media screen and (min-width: 1200px) {
	
}